<li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title" id="element" id="jobTitle" 
        {{ title }} </a>
        <div class="accordion-content" data-tab-content>
            <p id="appDescription"> {{ description }} </p>
            <a href="#" id="appLink"> {{ url }} </a>
            <div class="column">
                <div class="grid-x grid-padding-x">
                    <div class="large-12">
                        <select>
                            <option value="">Status 1</option>
                            <option value="">Status 2</option>
                            <option value="">Status 3</option>
                            <option value="">Status 4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <button class="save-btn" id="saveBtn">
                    Save
                </button>
                <button class="del-btn" id="deleteBtn">
                    Delete
                </button>
            </div>
        </div>
    </li>