<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reploy</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
    integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="nav">
    <ul class="login-buttons">
      {{#if loggedIn}}
        <a href="" id="logout" class="logout-btn">Logout</a>
      {{else}}
        <a href="/login">Login</a>
        <a href="/signup" class="create-account">Signup</a>
      {{/if}}
    </ul>
    <h2>Reploy</h2>
  </div>
  <div class="links">
    <ul>
      <li>
        <a href="/jobs">Jobs</a>
      </li>
      <li>
        <a href="/">My Applications</a>
      </li>
      <li>
        <a href="/Not-Found">Coming Soon</a>
      </li>
    </ul>
  </div>
  {{{ body }}}
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>