<div class="container text-align-center jobs-container">
    <div class="flex-container align-center-middle">
        <form class="job-search-form">
            <input placeholder="Job Category" id="job-cat">
            <input placeholder="City, State" id="location">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="job-results align-center-middle">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>