<div class="page-container">
    <div class="flex-container align-center">
        <div class="row small-up-2 medium-up-3">
            <div class="column">
                <div class="card-bg rounded-signup">
                    <h2 class="card-title">Welcome to Reploy!</h2>
                    <p class="instruction">Enter your info below to get started:</p>
                    <div class="card-section">
                        <form class="show-password signup-form">
                            <div class="grid-x grid-padding-x">
                                <div class="large-12 cell">
                                    <label for="first-signup">First Name:</label>
                                    <input id="first-signup" type="text" placeholder="John">
                                    <label for="last-signup">Last Name:</label>
                                    <input id="last-signup" type="text" placeholder="Doe">
                                    <label>Email:</label>
                                    <input id="email-signup" type="text" placeholder="example@mail.com"
                                        style="border-radius: 5px;">
                                    <div class="password-wrapper">
                                        <label for="password">Your password</label>
                                        <input type="password" value="" placeholder="Enter Password"
                                            id="password-signup" class="password">
                                    </div>
                                    <div class="text-center">
                                        <button class="login-btn" id="signup-btn">Create Account</button>
                                        <p class="create-acct">Already have an account? <a href="/login">Login</a></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Compressed JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
    integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
<script src="/javascript/signup.js"></script>