:root {
    --primary-color: #1da1f2;
    --secondary-color: #7f7f7f;
    --accent-color-1: #fff;
}

@media screen and (min-width: 768px) {

body {
    background-image: url("https://source.unsplash.com/1920x1366/?landscape,road");
    background-repeat: no-repeat;
    background-size: auto;
}
.accordion {
    min-width: 35rem
}
.app-tracker-title {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 0.5rem 10.1rem 0.5rem 10.1rem;
}
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("https://source.unsplash.com/768x973/?landscape,road");
        background-repeat: no-repeat; 
        background-size: auto;
    }
    .accordion {
        min-width: 15rem
    }
    .app-tracker-title {
        background-color: var(--secondary-color);
        color: #fff;
        padding: 0.5rem 4.25rem 0.5rem 4.25rem;
    }
}

.container {
    margin: 0 2rem 0 2rem
}

/* .btn-container {
    margin: 0 25rem 0 25rem;
} */

.page-conatiner {
    position: relative;
    min-height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav h2 {
    margin-left: 1rem;
}

.nav ul {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    list-style: none;
}

.nav ul li a {
    color: #fff;
}

.card-bg {
    background-color: var(--accent-color-1);
}

.rounded {
    border-radius: 10px;
    margin-top: 8.5rem;
}

.card-title {
    background-color: var(--primary-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5rem;
    margin-bottom: 1rem;
    color: #fff;
}

.instruction {
    text-align: center;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

.login-btn {
    background-color: var(--primary-color);
    padding: 1rem;
    color: #fff;
    border-radius: 5px;
    transition: background-color 250ms ease-out;
}

.login-btn:hover {
    cursor: pointer;
    background-color: #0076C7;
    transition: background-color 250ms ease-in
}

.create-acct {
    margin-top: 0.5rem;
    margin-bottom: -10px;
}

.footer {
    position: absolute;
    background-color: var(--primary-color);
    bottom: 0px;
    width: 100vw;
    overflow: hidden;
}

.footer-copy {
    position: absolute;
    bottom: -10px;
    color: #fff;
}

.footer-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* app tracker styles */

.app-tracker-wrapper {
    margin: 1.5rem 12.5rem 0 12.5rem;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.create-btn-container {
    margin: 1rem 1rem 0 0;
}

.create-btn {
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding: 0.75rem;
    border-radius: 25px;
    color: #fff;
    transition: background-color 250ms ease-out;
}

.create-btn:hover {
    background-color: #00FF00;
    transition: background-color 250ms ease-in;
    cursor: pointer;
}

.extra-margin-left {
    margin-left: 0.5rem;
}

.extra-margin-right {
    margin-right: 0.5rem;
}

.save-btn {
    background-color: var(--primary-color);
    padding: 0.5rem;
    color: #fff;
    width: 100%;
    border-radius: 25px;
    border: none;
    transition: background-color 250ms ease-out, color 250ms ease-out, border-radius 250ms ease-out;
}

.save-btn:hover {
    background-color: #00FF00;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
}

.del-btn {
    background-color: hsl(0, 100%, 50%);
    color: #fff;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    border-radius: 25px;
    transition: background-color 250ms ease-out, border-radius 250ms ease-out;
}

.del-btn:hover {
    background-color: hsl(0, 100%, 40%);
    border-radius: 3px;
    cursor: pointer;
}

/* Modal Styles */

#modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    height: 365px;
    width: 500px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

.modal-content input {
    margin: 15px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid #aaa;
}

.modal-content textarea {
    margin: 15px auto;
    display: block;
    width: 75%;
    padding: 8px;
    border: 1px solid #aaa;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}

.close:hover {
        color: #665;
}

