

:root {
  --primary-color: #1da1f2;
  --secondary-color: #7f7f7f;
  --accent-color-1: #fff;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("https://source.unsplash.com/1920x1366/?landscape,road");
    background-repeat: no-repeat;
    background-size: auto;
  }
  .accordion-cstm {
    min-width: 35rem;
    background: #fff;
    padding: 0.75rem 0.5rem 0 0.5rem;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    border-radius: 5px;
    overflow: hidden;
  }

  .accordion__button {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    text-align: left;
    transition: background 250ms ease;
    margin-top: 0;
  }

  .accordion__button::after {
    content: "\25be";
    float: right;
    transform: scale(1.5);
  }

  .accordion__content {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 250ms;
    padding: 0 15px;
    max-width: 35rem;
  }

  .accordion__content::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  .accordion__content::-webkit-scrollbar-track {
    background: hsl(0, 0%, 97%);
  }
  
  .accordion__content::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 73%)	;
    border-radius: 500px;
    width: 50%;
  }

  .app-tracker-title {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 0.5rem 10.1rem 0.5rem 10.1rem;
  }

  .filter-container {
    display: none;
    transition: all 150ms;
  }

  .filter-container--active {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    margin: 0 1rem 0 1rem;
    padding: 1rem 0.5rem 0 0.5rem;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("https://source.unsplash.com/768x973/?landscape,road");
    background-repeat: no-repeat;
    background-size: auto;
  }
  .accordion-cstm {
    min-width: 15rem;
    background: #fff;
    padding: 0.75rem 0.5rem 0 0.5rem;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    border-radius: 5px;
    overflow: scroll;
    max-height: 100%;
  }

  .accordion__button {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    text-align: left;
    transition: background 250ms;
    margin-top: -12px;
  }

  .accordion__content {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 250ms;
    padding: 0 15px;
    max-width: 35rem;
  }

  .accordion__content::-webkit-scrollbar {
    width: 0.35rem;
  }
  
  .accordion__content::-webkit-scrollbar-track {
    /* background: hsl(0, 0%, 97%); */
    opacity: 0 !important;
  }
  
  .accordion__content::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 73%)	;
    border-radius: 500px;
    width: 50%;
  }

  .accordion__button::after {
    content: "\25be";
    float: right;
    transform: scale(1.5);
  }

  .app-tracker-title {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 0.5rem 4.25rem 0.5rem 4.25rem;

  }

  .filter-container {
    display: none;
    transition: all 150ms;
  }

  .filter-container--active {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
    margin: 0 1rem 0 1rem;
    padding: 1rem 0.5rem 0 0.5rem;
    border-radius: 5px;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.accordion__button--active {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__button--active::after {
  content: "\25b4";
  transform: scale(1.5);
}

.container {
    margin: 0 2rem 0 2rem;
}

/* .btn-container {
    margin: 0 25rem 0 25rem;
} */

float-right {
  float: right;
}

.company_Name {
  display: flex;
  justify-content: center;
}

.page-conatiner {
  position: relative;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nav h2 {
  margin-left: 1rem;
}

.nav ul {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  list-style: none;
}

.nav ul li {
    margin: 0 0.5rem 0 0.5rem;
}

.nav ul li a {
  color: #fff;
}

.card-bg {
  background-color: var(--accent-color-1);
}

.rounded {
  border-radius: 10px;
  margin-top: 8.5rem;
}

.rounded-signup {
  border-radius: 10px;
  margin-top: 4.5rem;
}

.card-title {
  background-color: var(--primary-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.instruction {
  text-align: center;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
}

.login-btn {
  background-color: var(--primary-color);
  padding: 1rem;
  color: #fff;
  border-radius: 5px;
  transition: background-color 250ms ease-out;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #0076c7;
  transition: background-color 250ms ease-in;
}

.create-acct {
  margin-top: 0.5rem;
  margin-bottom: -10px;
}

.footer {
  position: absolute;
  background-color: var(--primary-color);
  bottom: 0px;
  width: 100vw;
  overflow: hidden;
}

.footer-copy {
  position: absolute;
  bottom: -10px;
  color: #fff;
}

.footer-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* app tracker styles */

.app-tracker-wrapper {
  margin: 1.5rem 12.5rem 0 12.5rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

/* .create-btn-container {
  margin: -2.5rem 1rem 1rem 0;
} */

.create-btn {
  background-color: var(--primary-color);
  font-size: 1.5rem;
  padding: 0.75rem;
  border-radius: 25px;
  color: #fff;
  transition: background-color 250ms ease-out;
}

.create-btn:hover {
  background-color: #00ff00;
  transition: background-color 250ms ease-in;
  cursor: pointer;
}

.extra-margin-left {
  margin-left: 0.5rem;
}

.extra-margin-right {
  margin-right: 0.5rem;
}

.save-btn, .save-btn-edit {
  background-color: var(--primary-color);
  padding: 0.5rem;
  color: #fff;
  width: 100%;
  border-radius: 25px;
  border: none;
  transition: background-color 250ms ease-out, color 250ms ease-out,
    border-radius 250ms ease-out;
}

.save-btn:hover, .save-btn-edit:hover {
  background-color: #00ff00;
  color: #000;
  border-radius: 3px;
  cursor: pointer;
}

.edit-btn {
  background-color: var(--primary-color);
  padding: 0.5rem;
  color: #fff;
  width: 100%;
  border-radius: 25px;
  border: none;
  transition: background-color 250ms ease-out, color 250ms ease-out,
    border-radius 250ms ease-out;
}

.edit-btn:hover {
  background-color: #00ff00;
  color: #000;
  border-radius: 3px;
  cursor: pointer;
}

.del-btn {
  background-color: hsl(0, 100%, 50%);
  color: #fff;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 25px;
  transition: background-color 250ms ease-out, border-radius 250ms ease-out;
}

.del-btn:hover {
  background-color: hsl(0, 100%, 40%);
  border-radius: 3px;
  cursor: pointer;
}

/* Modal Styles */

#modal {
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 150%;
  width: 100%;
  height: 110%;
  left: 0px;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  height: 650px;
  width: 500px;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}

.modal-content input {
  margin: 15px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid #aaa;
}

.modal-content textarea {
  margin: 15px auto;
  display: block;
  width: 75%;
  padding: 8px;
  border: 1px solid #aaa;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}

.close:hover {
  color: #665;
}


.ui-datepicker-header {
  background-color: var(--primary-color);
  text-align: center;
  color: #fff;
}

.ui-datepicker-month, .ui-datepicker-year {
  font-weight: bolder;
}

.ui-datepicker-prev{
  position: absolute;
  left: 0;
  color: #fff;
  padding-left: 5px;
}

.ui-datepicker-next {
  position: absolute;
  right: 0;
  color: #fff;
  padding-right: 5px;
}

.ready-to-apply {
  background-color: var(--primary-color);
  width: 6px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: inline-block;
  margin: 0 0.25rem 0.05rem 0;
}
.pending {
  background-color: var(--secondary-color);
  width: 6px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: inline-block;
  margin: 0 0.25rem 0.05rem 0;
}
.submitted {
  background-color: #FFDD00;
  width: 6px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: inline-block;
  margin: 0 0.25rem 0.05rem 0;
}
.accepted {
  background-color: #00D118;
  width: 6px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: inline-block;
  margin: 0 0.25rem 0.05rem 0;
}
.declined {
  background-color: #FF0000;
  width: 6px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: inline-block;
  margin: 0 0.25rem 0.05rem 0;
}

.filter {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0 0 1rem;
  color: #fff;
  font-size: 2rem;
  background-color: var(--primary-color);
  padding: 0.25rem;
  border-radius: 5px;
  transition: transform 150ms;
}

.filter:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.filter-container--active input {
  width: 30rem;
  border-radius: 5px;
}

.filterSearchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.25rem 1rem 0;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  transition: background 150ms, transform 150ms, font-size 150ms;
}

.filterSearchBtn:hover {
  transform: scale(1.1);
  background: #3fb5ff;
  cursor: pointer;
}